.post-date{
	background: whitesmoke;
	padding: 4px;
	margin: 3px 0;
	display: block;
}

.btnInline{
	display: inline;
}

.postImg{
	width: 75%;
	border-radius: 100%;
}

.pagination-links{
	margin: 30px 0;
}

.pagination-links strong {
	padding: 8px 13px;
	margin:  5px;
	background: lightgray;
	border: 2px solid;
}

a.pagination-links {
	padding: 8px 13px;
	margin:  5px;
	background: lightgray;
	border: 2px solid;
}

.cat-delete {
	display: inline;
}